@model Commit.Web.Models.WebViewModels.ImportViewModel
@{
    ViewBag.Title = "Staar Test Demo";
}

@if (Model.Message != null)
{
    <div class="well">
        @Model.Message
    </div>
}

@if (Model.DownloadPath != null)
{
    using (Html.BeginForm(MVC.Background.DownloadLogs(Model.DownloadPath), FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="submit" class="btn-primary" value="Download Logs From Import" />
    }
}

@using (Html.BeginForm(MVC.Background.ImportStaarTests(), FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="OK" />
}

