@{
    ViewBag.Title = "Index";
}

<h2>Updating Information</h2>

<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#a" data-toggle="tab">Demographics</a></li>
        <li><a href="#b" data-toggle="tab">Categories</a></li>
        <li><a href="#c" data-toggle="tab">Subjects</a></li>
        <li><a href="#d" data-toggle="tab">Languages</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="a">
            <div id="demoGrid"></div>
        </div>
        <div class="tab-pane" id="b">
            Secondo sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
            Aliquam in felis sit amet augue.
        </div>
        <div class="tab-pane" id="c">
            Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
            Quisque mauris augue, molestie tincidunt condimentum vitae.
        </div>
        <div class="tab-pane" id="d">
            Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
            Quisque mauris augue, molestie tincidunt condimentum vitae.
        </div>
    </div>
</div>

@section scripts{

    <script>
        $(document).ready(function() {
            var crudServiceBaseUrl = "api/Demographics",
                dataSource = new kendo.data.DataSource({
                        transport: {
                            read: {
                                url: crudServiceBaseUrl,
                                dataType: "json"
                            },
                            update: {
                                url: crudServiceBaseUrl + "/Update",
                                type: "POST",
                                dataType: "json"
                            },
                            destroy: {
                                url: crudServiceBaseUrl + "/Delete",
                                dataType: "jsonp"
                            },
                            create: {
                                url: crudServiceBaseUrl + "/Create",
                                dataType: "jsonp"
                            },
                            parameterMap: function(options, operation) {
                                if (operation !== "read" && options.models) {
                                    return {models: options.models};
                            }
                        }
                    },
                    batch:
            true,
                pageSize:
            20,
                schema:
            {
                model: {
                    id: "DemographicDetailId",
                        fields:
                    {
                        YearStarted: {
                            type: "number", editable:
                            true, nullable:
                            false
                        },
                        Description: {
                            type: "text", editable:
                            true, nullable:
                            false
                        },
                        Detail: {
                            type: "text", editable:
                            true, nullable:
                            false
                        },
                    }
                }
            }
        });

        $("#demoGrid").kendoGrid({
            dataSource: dataSource,
            pageable: true,
            height: 550,
            columns: [
                "DemographicDetailId",
                { field: "YearStarted", title: "Year Started", format: "{0:c}", width: "120px" },
                { field: "Description", width: "120px" },
                { field: "Detail", width: "120px" },
                { command: ["edit", "destroy"], title: "&nbsp;", width: "200px" }
            ],
            editable: "inline"
        });
    });
    </script>
}