@model Commit.Web.Models.WebViewModels.BackgroundViewModel
@{
    ViewBag.Title = "Index";
}

<div>
    <h2>Updating Information</h2>

    <div style="display: inline-block; padding-left: 25px;">

    </div>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab">Demographics</a></li>
    <li role="presentation"><a href="#profile" role="tab" data-toggle="tab">Categories</a></li>
    <li role="presentation"><a href="#messages" role="tab" data-toggle="tab">Subjects</a></li>
    <li role="presentation"><a href="#settings" role="tab" data-toggle="tab">Languages</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
        @Html.Partial(MVC.Background.Views.Partials._DemographicGrid, Model.Demographics)
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
        @Html.Partial(MVC.Background.Views.Partials._CategoryGrid, Model.Categories)
    </div>
    <div role="tabpanel" class="tab-pane" id="messages">
        @Html.Partial(MVC.Background.Views.Partials._SubjectGrid)
    </div>
    <div role="tabpanel" class="tab-pane" id="settings">
        @Html.Partial(MVC.Background.Views.Partials._LanguageGrid)
    </div>
</div>

<!-- Alert Messages -->
<div id="successAlert" style="display: none" class="alert alert-success alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>Your changes have been saved succesfully.
</div>
<div id="unseccessfulAlert" style="display: none" class="alert alert-danger alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>Your changes were not saved successfully.
</div>


@section scripts{
    <script>

        var successfulSave = function () {
            $("#successAlert").show().fadeOut(2000);
        }

        var unsuccessfulSave = function () {
            $("#unseccessfulAlert").show();
        }
    </script>
}