@model List<Commit.Web.Models.BasicViewModels.DropDownViewModel>

<div class="grid" id="categoryGrid"></div>


<script>
    $(document).ready(function() {

        var crudServiceBaseUrl = "/api/BackgroundService";
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: crudServiceBaseUrl + "/ReadCategoryDetails",
                    type: "GET",
                    dataType: "json"
                },
                update: {
                    url: crudServiceBaseUrl + "/UpdateCategoryDetails",
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json",
                },
                create: {
                    url: crudServiceBaseUrl + "/CreateCategoryDetails",
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json",
                    complete: function(e) {
                        $("#categoryGrid").data("kendoGrid").dataSource.read();
                    },
                },
                parameterMap: function(options, operation) {
                    if (operation === "read" && options) {
                        return kendo.stringify(options);
                    }
                    return kendo.stringify(options.models);
                },

            },
            sync: function() {
                successfulSave();
            },
            batch: true,
            pageSize: 20,
            schema:
            {
                model: {
                    id: "CategoryDetailId",
                    fields:
                    {
                        CategoryDetailId: { type: "number", editable: false, nullable: false },
                        Category: { defaultValue: { Text: "All", Value: 1 } },
                        YearStarted: { type: "number", editable: true, nullable: false },
                        Description: { type: "text", editable: true, nullable: false },
                        Detail: { type: "text", editable: true, nullable: false },
                        CategoryType: { defaultValue: { Text: "Count", Value: 1}}
                    }
                }
            }

        });

        $("#categoryGrid").kendoGrid({
            dataSource: dataSource,
            pageable: true,
            height: 550,
            editable: true,
            groupable: false,
            navigatable: true,
            toolbar: ["create", "save", "cancel"],
            columns: [
                { field: "CategoryDetailId", title: "Id" },
                { field: "Category", title: "Category Name", width: "180px", editor: categoryDropDownEditor, template: "#=data.Category.Text#" },
                { field: "Detail", width: "120px" },
                { field: "Description" },
                { field: "CategoryType", title: "Category Type", width: "180px", editor: categoryTypeDropDownEditor, template: "#=data.CategoryType.Text#" },
                { field: "YearStarted", title: "Year Started", type: "number", format: "{0}", width: "120px" },
            ]
        });

        function categoryDropDownEditor(container, options) {
            $('<input id="catDdl" required data-text-field="Text" data-value-field="Value" data-bind="value:' + options.field + '" />')
            .appendTo(container)
            .kendoDropDownList({
                autoBind: false,
                dataSource: @Html.Raw(Json.Encode(Model)),
            });

            setTimeout(function() { $("#catDdl").data("kendoDropDownList").open(); }, 10);
        }

        function categoryTypeDropDownEditor(container, options) {
            $('<input id="catTypeDdl" required data-text-field="Text" data-value-field="Value" data-bind="value:' + options.field + '" />')
            .appendTo(container)
            .kendoDropDownList({
                autoBind: false,
                dataSource: @Html.Raw(Json.Encode(Html.GetCategoryTypes())),
            });

            setTimeout(function() { $("#catTypeDdl").data("kendoDropDownList").open(); }, 10);
        }
    });
</script>