<div class="grid" id="subjectGrid"></div>


<script>
    $(document).ready(function() {

        var crudServiceBaseUrl = "/api/BackgroundService";
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: crudServiceBaseUrl + "/ReadSubjects",
                    type: "GET",
                    dataType: "json"
                },
                update: {
                    url: crudServiceBaseUrl + "/UpdateSubjects",
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json",
                },
                create: {
                    url: crudServiceBaseUrl + "/CreateSubjects",
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json",
                    complete: function(e) {
                        $("#subjectGrid").data("kendoGrid").dataSource.read();
                    },
                    parameterMap: function(options, operation) {
                        if (operation === "read" && options) {
                            return kendo.stringify(options);
                        }
                        return kendo.stringify(options.models);
                    },
                }
            },
            sync: function() {
                successfulSave();
            },
            batch: true,
            pageSize: 20,
            schema:
            {
                model: {
                    id: "Id",
                    fields:
                    {
                        YearStarted: { type: "number", editable: true, nullable: false },
                        Description: { type: "text", editable: true, nullable: false },
                        Name: { type: "text", editable: true, nullable: false },
                    }
                }
            }

        });

        $("#subjectGrid").kendoGrid({
            dataSource: dataSource,
            pageable: true,
            height: 550,
            editable: true,
            groupable: false,
            navigatable: true,
            toolbar: ["create", "save", "cancel"],
            columns: [
                { field: "Id", hidden: true },
                { field: "Name", width: "120px" },
                { field: "Description" },
                { field: "YearStarted", title: "Year Started", type: "number", format: "{0}", width: "120px" },
            ]
        });
    });
</script>